Snakee/
v17/
DesignTimeBuild/
FileContentIndex/
bin/
obj/
Properties/
Resourses/C:\Users\Админ\Snakee\Snake\v17
C:\Users\Админ\Snakee\Snake\FileContentIndex
C:\Users\Админ\Snakee\Snake\DesignTimeBuild
C:\Users\Админ\Snakee\Snake\snake\obj
C:\Users\Админ\Snakee\Snake\snake\bin
